.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html,
body {
  margin: 0;
}

.box {
  display: inline-block;
  width: 250px;
  height: 600px;
  position: fixed;
  top: 10%;
  left: 5%;
  color: black;
  background: url('images/아이콘_배너_대지_1.svg') no-repeat;
  background-size: contain;
  border: 4px dashed #bcbcbc;
}
.box_inbox{
  margin-left: 10%;
  margin-top: 40%;
  overflow: auto;
  width: 53%;
  height: 320px;
}
.logo{
  display: inline-block;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF
}

.locList{
  display: inline-block;
  margin-top: 40%;
  margin-left: 10%;
  margin-bottom: 40%;
  font-family: 'Montserrat', sans-serif;

}

.getFont{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}
.getRedFont{
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: red;
}

li{
  margin-bottom: 20%;
}